<!-- rxiao3: Set up base code for the file -->
<!-- alhudso4: Move file contents into index.html -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sign Up</title>
                <link rel="stylesheet" href="css/app.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <!-- second font chosen -->
        <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/architecture-font" type="text/css" />
        <!-- to use Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
        <!-- to use Bootstrap mask -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.2.0/mdb.min.css" rel="stylesheet" />
    </head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-sanitize.min.js"></script>


    <body class="auth-pages">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
        <script th:inline="javascript">
            //to declare the controller/scope space
            var app = angular.module("myApp", []);
            app.controller("signupCtrl", function ($scope, $http, $q) {
                //storing the user
                $scope.account = {
                    name: "",
                    password: "",
                };

                $scope.reset = function () {
                    // reset form
                    if (undefined != $scope.signupForm) {
                        $scope.signupForm.$setPristine();
                    }
                    $scope.account = {
                        name: "",
                        password: "",
                    };
                    $scope.dupe = false;
                    $scope.invalid_credentials = false;
                    $scope.invalid_pass = false;
                    $scope.sys_down = false;
                    $scope.showSuccess = false;
                };
                //to close the popup when user clicks 'Ok'
                $scope.closePopup = function () {
                    $scope.showSuccess = false;

                    document.location = "/";
                };

                $scope.signup = function () {
                    console.log($scope.account);
                    $scope.dupe = false;
                    $scope.invalid_credentials = false;
                    $scope.showSuccess = false;
                    // $scope.invalid_pass = false;
                    $scope.sys_down = false;

                    $scope.showErr = false;
                    $scope.showSuccess = false;

                    //condition to call api to check if the account exists/name passes/password passes
                    $http.post("/api/v1/customers", $scope.account).then(
                        //         //200/ok or some other status
                        function (success) {
                            console.log("Signed up!");
                            $scope.successMsg = "Sucess!\n You have successfully signed up.";
                            $scope.showSuccess = true;
                        },
                        function (rejection) {
                            console.log(rejection);
                            if (rejection.status == 409 && rejection.message == "[1201] Customer with the name " + $scope.account.name + " already exists.") {
                                //                 //duplicate account
                                $scope.dupe = true;
                                //                 $scope.invalid_pass = false;
                                $scope.sys_down = false;
                            } else if (rejection.status == 400) {
                                //                 //bad credentials to signup with
                                $scope.invalid_credentials = true;
                                //                 $scope.invalid_pass = false;
                                //                 $scope.sys_down = false;
                            }
                            //             // sys down else if()
                        }
                    );
                    $scope.reset();
                };
            });

            /*]]>*/
        </script>

        <div ng-app="myApp" class="content generic-container ng-cloak" ng-controller="signupCtrl as ctrl">
            <nav class="navbar sticky-top navbar-expand-lg navbar-dark text-light bg-dark bg-gradient p-3">
                <h1>CoffeeMaker</h1>
                <div>
                    <a href="staffLogin.html"><button id="staffLogin" class="btn btn-outline-info btn-sm">Staff Login</button></a>
                   </div>
            </nav>
            <div class="content bg-light">
                <div class="row">
                    <div class="logo d-flex col-xl justify-content-center">
                         <img src="./images/capuccinoPour.jpg" alt="" width="100%" height="450px" />
                   </div>

                    <div class="input col-xl d-flex justify-content-center">
                        <form class="bg-light p-5" ng-submit="signup()" name="signupForm">
                            <div ng-show="showSuccess" class="content success-popup-container show" id="success-popup">
                                <div class="success-popup-content">
                                    <div ng-bind="successMsg"></div>
                                </div>
                                <button class="ok-success-button" ng-click="closePopup()">Ok</button>
                            </div>
                            <h3>Customer Signup</h3>
                            <div class="form-group">
                                <div class="form-group col-md-12">
                                    <label class="col-md-2 control-lable">Username:</label>

                                    <div class="col-md-12">
                                        <input id="name" type="text" pattern="[A-Za-z0-9]{6,20}" ng-model="account.name" name="name" class="form-control input-sm" required />

                                        <div class="has-error" ng-show="signupForm.$dirty">
                                            <span ng-show="signupForm.name.$error.required">This is a required field.</span>
                                            <span ng-show="signupForm.name.$invalid">This field is invalid.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <small class="control-lable"> Must be 6-20 letters and can contain numbers </small>
                            <div class="form-group">
                                <div class="form-group col-md-12">
                                    <label class="col-md-2 control-lable">Password:</label>
                                    <div class="col-md-12">
                                        <!-- String consisting of 6-20 characters with at least one character being a number, at least one character being a special character('!', '?'), and at least one character being a letter. -->
                                        <!-- need to fix this password regex -->
                                        <!--   pattern="(?=.*\d)[A-Za-z0-9]{6,20}" -->
                                        <input id="password" pattern="^(?=[a-zA-Z0-9!?]{8,}$)(?=.*?[a-zA-Z])(?=.*?[0-9])(?=.*?[?!]).*" ng-model="account.password" name="password" class="form-control input-sm" required />
                                        <div class="has-error" ng-show="signupForm.$dirty">
                                            <span ng-show="signupForm.password.$error.required">This is a required field.</span>
                                            <span ng-show="signupForm.password.$invalid">This field is invalid.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <small class="control-lable"> Must be 6-20 long with at least one letter, one number, and one of the special character ('?' '!') </small>
                            <br />
                            <input type="submit" id="signup" value="Sign Up" class="btn btn-primary btn-lg mt-2" ng-disabled="signupForm.$invalid" />

                            <!-- p-3 mt-5 btn btn-lg btn-block btn-outline-dark btn-primary -->
                            <div class="err-msg" ng-show="dupe">Account with that username already exists</div>
                            <div class="err-msg" ng-show="invalid_credentials">Invalid Credentials</div>
                            <div class="err-msg" ng-show="invalid_pass">Invalid Password</div>
                            <div class="err-msg" ng-show="sys_down">System down for maintenance</div>
                        
                        </form>
                            <div>
                                <p>Already have an account? Login here!</p>
                                <a href="index"> <button id="login" class="btn btn-warning btn-md" ng-click="reset">Login</button></a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
